@import '../../assets/styles/colors/index.scss';

.whoami {
  position: relative;
  height: 1200px;

  &__curtain {
    position: absolute;
    z-index: 1;
    top: -90px;
    height: 110%;
    width: 100%;
    background-color: $light-purple;
    animation-fill-mode: forwards;
  }

  &__content {
    padding-top: 100px;
    font-family: 'Manjari bold';
  }

  &__heading {
    font-size: 65px;
  }

  &__description {
    font-size: 26px;
    font-family: 'Manjari';
    font-weight: 600;

    &__img {
      float: right;
    }

    &__link {
      color: $light-blue;
      transition: color .4s ease;

      &:hover {
        color: $light-blue--hovered;
      }
    }
  }
}