<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dmitry Dancevich</title>
    <link rel="stylesheet" href="assets/css/index.css" type="text/css">
</head>
<body>
<header class="header container">
    <nav class="nav animate__animated animate__fadeInDown">
        <a href="" class="nav__item">Who am I?</a>
        <a href="" class="nav__item">Specializations</a>
        <a href="" class="nav__item">Experience</a>
        <a href="" class="nav__item">Works</a>
    </nav>
    <div class="header-heading">
        <p class="header-heading__bold animate__animated animate__fadeInLeft">FREELANCING</p>
        <p class="animate__fadeInLeft animate__animated">IN A</p>
        <p class="header-heading__bold animate__animated header-heading__bold--type animate__fadeInLeft">
            HONEST
        </p>
        <p class="animate__fadeInLeft animate__animated">WAY</p>
    </div>
    <button class="header-contact animate__fadeInUp animate__animated">
        <span class="header-contact__text">
            Contact Me
        </span>
    </button>
    <div class="stars">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
    </div>
</header>
<main>
    <section class="who-am-i">
        <div class="who-am-i__body">
            <div class="container">
                <div class="who-am-i-columns">
                    <div class="who-am-i-column">
                        <div class="who-am-i-column-item">
                            <h1 class="who-am-i-column-item__title animate__animated animate__fadeInLeft">WHO AM I?</h1>
                            <p class="who-am-i-column-item__text animate__animated animate__fadeInLeft">
                                My name is Dmitry I am from Belarus currently located in Gomel but always searching for opportunities to travel. Currently I am 20 and I am full of enthusiasm about my current spectre of work.
                                I started to obtain my skill at
                                <a href="https://itstep.by" class="who-am-i-column-item__link">ITStep Academy</a> and studied by myself. Later I had won a grant from Belarusian IT company called
                                <a href="https://syberry.by" class="who-am-i-column-item__link">Syberry CIS</a>. They paid all my course
                                in Academy with the condition that I will work there as a Front-End developer after my graduation from the academy. I finished my courses with the highest grade and started working in Syberry. Before that I was working as a Freelancer in CIS market and got some experience there. While working at Syberry I had got a lot of new skills and real project experience in those technologies that I like. But later I left the company and started freelancing. After a half a year I found people who were willing to create a startup and started working with them. There I obtained lots of skills in fintech development as well as back-end and front-end skills. Now I want to fully dive into freelance world to get some fresh air and get new experience of working for myself
                            </p>
                        </div>
                        <div class="who-am-i-column-item">
                            <h1 class="who-am-i-column-item__title animate__animated animate__fadeInLeft">WHAT DO I OFFER</h1>
                            <p class="who-am-i-column-item__text animate__animated animate__fadeInLeft">
                                I specialize in Web Development and UI/UX Design. I have obtained all my skills during my study at ITStep Academy while attending school. My strengths are: FrontEnd, Backend applications and UI Mockups/Wireframes creation. Mostly I like these directions in the whole spectre of my interests.
                            </p>
                        </div>
                    </div>
                    <div class="who-am-i-column display-md-block">
                        <div class="who-am-i-column-item">
                            <img src="assets/img/who-am-i-img-1.png" alt="Error" class="who-am-i-column-item__img animate__animated animate__fadeInRight">
                        </div>
                        <div class="who-am-i-column-item">
                            <img src="assets/img/who-am-i-img-2.png" alt="Error" class="who-am-i-column-item__img animate__animated animate__fadeInRight">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="assets/js/index.min.js"></script>
</body>
</html>