<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dmitry Dancevich</title>
    <link rel="stylesheet" href="assets/css/index.css" type="text/css">
</head>
<body>
<header class="header container">
    <nav class="nav animate__animated animate__fadeInDown">
        <a href="" class="nav__item">Who am I?</a>
        <a href="" class="nav__item">Specializations</a>
        <a href="" class="nav__item">Experience</a>
        <a href="" class="nav__item">Works</a>
    </nav>
    <div class="header-heading">
        <p class="header-heading__bold animate__animated animate__fadeInLeft">FREELANCING</p>
        <p class="animate__fadeInLeft animate__animated">IN A</p>
        <p class="header-heading__bold animate__animated header-heading__bold--type animate__fadeInLeft">
            HONEST
        </p>
        <p class="animate__fadeInLeft animate__animated">WAY</p>
    </div>
    <button class="header-contact animate__fadeInUp animate__animated">
        <span class="header-contact__text">
            Contact Me
        </span>
    </button>
    <div class="stars">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
    </div>
</header>
<main>
    <section class="who-am-i">
        <div class="who-am-i__body">
            <div class="container">
                <div class="who-am-i-columns">
                    <div class="who-am-i-column">
                        <div class="who-am-i-column-item">
                            <h1 class="who-am-i-column-item__title animate__animated animate__fadeInLeft">WHO AM I?</h1>
                            <p class="who-am-i-column-item__text animate__animated animate__fadeInLeft">
                                My name is Dmitry I am from Belarus currently located in Gomel but always searching for opportunities to travel. Currently I am 20 and I am full of enthusiasm about my current spectre of work.
                                I started to obtain my skill at
                                <a href="https://itstep.by" class="who-am-i-column-item__link">ITStep Academy</a> and studied by myself. Later I had won a grant from Belarusian IT company called
                                <a href="https://syberry.by" class="who-am-i-column-item__link">Syberry CIS</a>. They paid all my course
                                in Academy with the condition that I will work there as a Front-End developer after my graduation from the academy. I finished my courses with the highest grade and started working in Syberry. Before that I was working as a Freelancer in CIS market and got some experience there. While working at Syberry I had got a lot of new skills and real project experience in those technologies that I like. But later I left the company and started freelancing. After a half a year I found people who were willing to create a startup and started working with them. There I obtained lots of skills in fintech development as well as back-end and front-end skills. Now I want to fully dive into freelance world to get some fresh air and get new experience of working for myself
                            </p>
                            <br>
                            <p class="who-am-i-column-item__text animate__animated animate__fadeInLeft">
                                All that time took me for about 2 years of unending practice and development of my soft and hard skills. I can say that most of the tasks that are there in the Web can be easily handled by me.
                                I am full of enthusiasm to work and develop my skill with new projects and people. During this 2 years I have learnt a lot of new in the World of Web Development and learnt to obtain new skills super fast and this is the object of my pride
                            </p>
                        </div>
                        <div class="who-am-i-column-item">
                            <h1 class="who-am-i-column-item__title animate__animated animate__fadeInLeft">WHAT DO I OFFER</h1>
                            <p class="who-am-i-column-item__text animate__animated animate__fadeInLeft">
                                I specialize in Web Development and UI/UX Design. I have obtained all my skills during my study at ITStep Academy while attending school. My strengths are: FrontEnd, Backend applications and UI Mockups/Wireframes creation. Mostly I like these directions in the whole spectre of my interests.
                            </p>
                        </div>
                    </div>
                    <div class="who-am-i-column display-md-block">
                        <div class="who-am-i-column-item">
                            <img src="assets/img/who-am-i-img-1.png" alt="Error" class="who-am-i-column-item__img animate__animated animate__fadeInRight">
                        </div>
                        <div class="who-am-i-column-item">
                            <img src="assets/img/who-am-i-img-2.png" alt="Error" class="who-am-i-column-item__img animate__animated animate__fadeInRight">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="technologies">
        <h1 class="technologies__title">WITH WHAT TECHNOLOGIES DO I WORK</h1>
        <h4 class="technologies__subtitle">All technologies I fell in love with and which are my cores right now</h4>
        <h3 class="technologies__section-title">Front-End</h3>
        <div class="technologies-block front-end">
            <div class="technologies-items container">
                <div class="technologies-item technologies-item--js">
                    <img src="assets/img/js.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">JavaScript</h3>
                    <span class="technologies-item__text">
                        JavaScript is my favourite programming language and I use it on a regular basis. I have a lot of experience of working with it and developing awesome interfaces with it
                    </span>
                </div>
                <div class="technologies-item technologies-item--react">
                    <img src="assets/img/react.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">React</h3>
                    <span class="technologies-item__text">
                        I consider React as the best JavaScript library at the moment so I really like its simplicity and excellently supported ecosystem
                    </span>
                </div>
                <div class="technologies-item technologies-item--bulma">
                    <img src="assets/img/bulma.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Bulma</h3>
                    <span class="technologies-item__text">
                        Bulma is a brand new CSS library with a lot of usable components and styles. It is built on flexbox what makes it a perfect choice for me
                    </span>
                </div>
                <div class="technologies-item technologies-item--bootstrap">
                    <img src="assets/img/bootstrap.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Bootstrap</h3>
                    <span class="technologies-item__text">
                        Bootstrap is №2 CSS Library for me. I choose bootstrap when if it is required by the conditions of project or for better code support (Because Bootstrap is more popular than Bulma)
                    </span>
                </div>
                <div class="technologies-item technologies-item--jquery">
                    <img src="assets/img/jquery.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">jQuery</h3>
                    <span class="technologies-item__text">
                        Despite jQuery is rather old for modern Front-End but sometimes some projects need it. And happily I have both experience in it and the experience of doing the same things in vanilla JS
                    </span>
                </div>
                <div class="technologies-item technologies-item--angular">
                    <img src="assets/img/angular.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Angular</h3>
                    <span class="technologies-item__text">
                        Angular is quite a handy solution for large applications. I got acquainted with it during my work in Fintech startup and liked its architecture.
                    </span>
                </div>
            </div>
        </div>
        <h3 class="technologies__section-title">Back-End</h3>
        <div class="technologies-block back-end">
            <div class="technologies-items container">
                <div class="technologies-item technologies-item--node">
                    <img src="assets/img/node.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">NodeJS</h3>
                    <span class="technologies-item__text">
                        As JavaScript is my favourite language I prefer using NodeJS as a Back-End platform for my applications. It is really fast and comfortable to work with
                    </span>
                </div>
                <div class="technologies-item technologies-item--php">
                    <img src="assets/img/php.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">PHP</h3>
                    <span class="technologies-item__text">
                        PHP is still the most usable language for back-end in question of developing projects of any scale. I like it and use regularly
                    </span>
                </div>
                <div class="technologies-item technologies-item--opencart">
                    <img src="assets/img/opencart.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Opencart</h3>
                    <span class="technologies-item__text">
                        Opencart is a great choice for ecommerce website and in my projects in these are usually built on it
                    </span>
                </div>
                <div class="technologies-item technologies-item--wordpress">
                    <img src="assets/img/wordpress.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Wordpress</h3>
                    <span class="technologies-item__text">
                        Wordpress is the most popular CMS at the moment and it gives the ability to quickly create website with everything needed
                    </span>
                </div>
                <div class="technologies-item technologies-item--python">
                    <img src="assets/img/python.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">Python</h3>
                    <span class="technologies-item__text">
                        Python is world's most popular language nowadays and is used in variety of spheres. The syntax and developing speed are tremendous and I adore using it.
                    </span>
                </div>
                <div class="technologies-item technologies-item--django">
                    <img src="assets/img/django.svg" alt="" class="technologies-item__img">
                    <h3 class="technologies-item__title">DJango</h3>
                    <span class="technologies-item__text">
                        Django is the most popular Python Web Framework for back-end. The architecture makes its extremely usable and supportable and these features are the most important to me.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <h1 class="works__title">TOO MUCH HAVE BEEN SPOKEN TIME TO SHOW SOMETHING</h1>
            <div class="works-work">
                <h4 class="works-work__title">Syberry Blog</h4>
                <div class="works-work-slider syberry-blog splide">
                    <div class="works-work-slider__track splide__track">
                        <div class="works-work-slider__list splide__list">
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/syberry-blog/slide01.PNG" alt="" class="works-work-slider__img">
                            </div>
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/syberry-blog/slide02.PNG" alt="" class="works-work-slider__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="works-work">
                <h4 class="works-work__title">Slim Chat</h4>
                <div class="works-work-slider slim-chat splide">
                    <div class="works-work-slider__track splide__track">
                        <div class="works-work-slider__list splide__list">
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/slim-chat/slide01.PNG" alt="" class="works-work-slider__img">
                            </div>
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/slim-chat/slide02.PNG" alt="" class="works-work-slider__img">
                            </div>
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/slim-chat/slide03.PNG" alt="" class="works-work-slider__img">
                            </div>
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/slim-chat/slide04.PNG" alt="" class="works-work-slider__img">
                            </div>
                            <div class="works-work-slider__slide splide__slide">
                                <img src="assets/img/slim-chat/slide05.PNG" alt="" class="works-work-slider__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="assets/js/index.min.js"></script>
<script>
    const splideOptions = {
        type         : 'loop',
        autoplay     : true,
        perPage      : 1,
        pauseOnHover : false,
        resetProgress: false,
    }

    new Splide('.syberry-blog', splideOptions).mount();
    new Splide('.slim-chat', splideOptions).mount();
</script>
</body>
</html>