<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dmitry Dancevich</title>
    <link rel="stylesheet" href="assets/css/index.css" type="text/css">
</head>
<body>
<header class="header container">
    <nav class="nav animate__animated animate__fadeInDown">
        <a href="" class="nav__item">Who am I?</a>
        <a href="" class="nav__item">Specializations</a>
        <a href="" class="nav__item">Experience</a>
        <a href="" class="nav__item">Works</a>
    </nav>
    <div class="header-heading">
        <p class="header-heading__bold animate__animated animate__fadeInLeft">FREELANCING</p>
        <p class="animate__fadeInLeft animate__animated">IN A</p>
        <p class="header-heading__bold animate__animated header-heading__bold--type animate__fadeInLeft">
            HONEST
        </p>
        <p class="animate__fadeInLeft animate__animated">WAY</p>
    </div>
    <button class="header-contact animate__fadeInUp animate__animated">
        <span class="header-contact__text">
            Contact Me
        </span>
    </button>
    <div class="stars">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
        <img src="assets/img/star.svg" alt="" class="stars__star animate__animated animate__fadeInTopRight">
    </div>
</header>
<script src="assets/js/index.min.js"></script>
</body>
</html>