@import '../../assets/styles/colors/index.scss';

.navbar {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding-top: 20px;
    width: 450px;

    @media (max-width: 720px) {
        width: 300px;
    }

    &__item {
        $self: &;
        font-family: 'Manjari';
        font-weight: 900;

        &-underline {
            display: block;
            border-radius: 20px;
            background-color: $white;
            height: 2px;
            transition: width .4s ease;
            width: 0;
        }

        &:hover {
            #{$self}-underline {
                width: 100%;
            }
        }
    }
}