@font-face {
    font-family: 'Manjari';
    src: url('../../fonts/Manjari/Manjari-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Manjari bold';
    src: url('../../fonts/Manjari/Manjari-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}