$c-purple: #553D67;
$c-dark-purple: #2F2239;
$c-dark-purple-2:  #3E2D4B;
$c-dark-purple-3: #342342;
$c-light-purple: #8B92BD;
$c-blue: #93CAED;
$c-blue-2: #3498D8;
$c-blue-3: #1a5bfa;
$c-blue-4: #347AB4;
$c-light-blue: #38C5F2;
$c-react-blue: #2646B8;
$c-bulma-green: #00D1B2;
$c-node-green: #539E43;
$c-django-green: #092E20;
$c-bootstrap-purple: #331642;
$c-gray: #92839E;
$c-white: #FFFFFF;
$c-red: rgb(184, 38, 74);
$c-red-2: #C3002F;
$c-yellow: #F7DF1E;
$c-yellow-1: #FFCA1D;
$c-transparent: transparent;

$c-site-bg: $c-purple;

$c-front-end-bg-gray-transparent:
        linear-gradient(180deg, $c-gray 10.5%, $c-transparent 93.07%);
$c-back-end-dark-purple-transparent:
        linear-gradient(180deg, $c-dark-purple-2 38.16%, $c-transparent 96.31%);

$c-yellow-transparent-gradient:
        linear-gradient(154.28deg, $c-yellow -22.64%, $c-transparent 106.44%);
$c-react-blue-transparent-gradient:
        linear-gradient(154.28deg, $c-react-blue -22.64%, $c-transparent 106.44%);
$c-bulma-green-transparent-gradient:
        linear-gradient(154.28deg, $c-bulma-green -22.64%, $c-transparent 106.44%);
$c-bootstrap-purple-transparent-gradient:
        linear-gradient(154.28deg, $c-bootstrap-purple -22.64%, $c-transparent 106.44%);
$c-green-transparent-gradient:
        linear-gradient(154.28deg, $c-node-green -22.64%, $c-transparent 106.44%);
$c-light-purple-transparent-gradient:
        linear-gradient(154.28deg, $c-light-purple -22.64%, $c-transparent 106.44%);
$c-light-blue-transparent-gradient:
        linear-gradient(154.28deg, $c-light-blue -22.64%, $c-transparent 106.44%);
$c-blue-transparent-gradient:
        linear-gradient(154.28deg, $c-blue-2 -22.64%, $c-transparent 106.44%);
$c-blue-3-transparent-gradient:
        linear-gradient(154.28deg, $c-blue-3 -22.64%, $c-transparent 106.44%);
$c-red-2-transparent-gradient:
        linear-gradient(154.28deg, $c-red-2 -22.64%, $c-transparent 106.44%);
$c-yellow-1-blue-4-transparent-gradient:
        linear-gradient(154.28deg, $c-yellow-1 -22.64%, $c-blue-4 72.82%, $c-transparent 106.44%);
$c-django-green-transparent-gradient:
        linear-gradient(154.28deg, $c-django-green -22.64%, $c-transparent 106.44%);

$c-header-nav-link-underline: $c-white;
$c-header-heading-title: $c-white;
$c-header-contact-text: $c-white;
$c-header-contact-bg: linear-gradient(101.74deg, $c-red 8.53%, $c-transparent 101.26%);


$c-who-am-i-bg: $c-dark-purple;
$c-who-am-i-text: $c-white;
$c-who-am-i-title: $c-white;
$c-who-am-i-link: $c-blue;

$c-technologies-title: $c-white;
$c-technologies-subtitle: $c-white;
$c-technologies-block-title: $c-white;

$c-technologies-block-title: $c-white;
$c-technologies-block-text: $c-white;

$c-technologies-front-end-bg: $c-front-end-bg-gray-transparent;
$c-technologies-back-end-bg: $c-back-end-dark-purple-transparent;

$c-technologies-block-js-bg: $c-yellow-transparent-gradient;
$c-technologies-block-react-bg: $c-react-blue-transparent-gradient;
$c-technologies-block-bulma-bg: $c-bulma-green-transparent-gradient;
$c-technologies-block-bootstrap-bg: $c-bootstrap-purple-transparent-gradient;
$c-technologies-block-jquery-bg: $c-blue-3-transparent-gradient;
$c-technologies-block-angular-bg: $c-red-2-transparent-gradient;

$c-technologies-block-node-bg: $c-green-transparent-gradient;
$c-technologies-block-php-bg: $c-light-purple-transparent-gradient;
$c-technologies-block-opencart-bg: $c-light-blue-transparent-gradient;
$c-technologies-block-wordpress-bg: $c-blue-transparent-gradient;
$c-technologies-block-python-bg: $c-yellow-1-blue-4-transparent-gradient;
$c-technologies-block-django-bg: $c-django-green-transparent-gradient;

$c-works-title: $c-white;
$c-works-work-slider-title: $c-white;

$c-footer-bg: $c-dark-purple-3;
$c-footer-title-text: $c-white;