$c-purple: #553D67;
$c-white: #FFFFFF;
$c-red: rgb(184, 38, 74);
$c-transparent: transparent;


$c-site-bg: $c-purple;


$c-header-nav-link-underline: $c-white;
$c-header-heading-title: $c-white;
$c-header-contact-text: $c-white;
$c-header-contact-bg: linear-gradient(101.74deg, $c-red 8.53%, $c-transparent 101.26%);