@font-face {
  font-family: 'Manjari';
  src: url("../fonts/Manjari-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Manjari-Thin';
  src: url("../fonts/Manjari-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Manjari-Bold';
  src: url("../fonts/Manjari-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Source-Sans-Regular';
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Source-Sans-Bold';
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}